<div class="uk-flex-center" uk-grid>
  <div class="uk-width-1-2@m">
    <p class="uk-width-center uk-margin-medium-bottom">
      <span class="uk-icon" uk-icon="icon: logo-color-dark; radio: 0.7"></span>
    </p>

    <form>
      <div class="uk-card uk-card-primary uk-card-body uk-box-shadow-small">
        <h3>Cadastro de clientes</h3>
        <div class="uk-margin">
          <input class="uk-input uk-form-large" type="text" placeholder="Nome">
        </div>
        <div class="uk-margin">
          <input class="uk-input uk-form-large" type="text" placeholder="CPF">
        </div>
        <div class="uk-margin">
          <input class="uk-input uk-form-large" type="text" placeholder="Carteira de Motorista">
        </div>
        <div class="uk-margin">
          <input class="uk-input uk-form-large" type="email" placeholder="E-mail">
        </div>
        <div class="uk-margin">
          <input class="uk-input uk-form-large" type="phone" placeholder="Telefone">
        </div>
        <div class="uk-margin">
          <input class="uk-input uk-form-large" type="date" placeholder="Data de nascimento">
        </div>
        <div class="uk-margin">
          <input class="uk-input uk-form-large" type="text" placeholder="Endereço">
        </div>
        <div class="uk-margin uk-text-right">
          <a [routerLink]="['/customer/list-customers']" class="uk-button uk-button-default">Cadastrar </a>
        </div>
      </div>
    </form>
  </div>
</div>