<div class="uk-background-primary uk-light">
  <div class="uk-container">
    <nav class="uk-navbar-container uk-navbar-transparent uk-margin" uk-navbar>
      <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="#">
          <span class="uk-icon uk-margin-small-right" uk-icon="icon: icon-color-light; ratio: 0.15 "></span>
        </a>
        <ul class="uk-navbar-nav">
          <li><a [routerLink]="['/rental/list-rentals']" routerLinkActive="uk-text-bold">Locações</a></li>
          <li><a [routerLink]="['/customer/list-customers']" routerLinkActive="uk-text-bold">Clientes</a></li>
          <li><a [routerLink]="['/vehicle/list-vehicles']" routerLinkActive="uk-text-bold">Veiculos</a></li>
          <li><a [routerLink]="['/plan/list-plans']" routerLinkActive="uk-text-bold">Planos</a></li>
        </ul>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li>
            <a [routerLink]="['/account/user']">
              <span class="uk-icon uk-margin-small-right" uk-icon="icon: user"></span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/login']">
              <span class="uk-icon uk-margin-small-right" uk-icon="icon: sign-out"></span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>