<div class="uk-container">
    <nav class="uk-navbar-container" uk-navbar>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <div data-uk-dropdown>


                <div>...</div>
             <span class="uk-icon uk-margin-small-right" uk-icon="icon: more"></span>
                <!-- This is the dropdown -->
                <div class="uk-dropdown">
                    <a [routerLink]="['/customer/create-customer']" uk-toggle>
                      <span class="uk-icon uk-margin-small-right" uk-icon="icon: plus"></span>
                      Adicionar 
                    </a>
                </div>
            
            </div>
            
           


          <li class="uk-active">
            <a [routerLink]="['/customer/create-customer']" uk-toggle>
              <span class="uk-icon uk-margin-small-right" uk-icon="icon: plus"></span>
               Locação
            </a>
            <a [routerLink]="['/customer/create-customer']" uk-toggle>
              <span class="uk-icon uk-margin-small-right" uk-icon="icon: plus"></span>
              Adicionar 
            </a>
            <a [routerLink]="['/customer/create-customer']" uk-toggle>
              <span class="uk-icon uk-margin-small-right" uk-icon="icon: plus"></span>
              Adicionar
            </a>
            <a [routerLink]="['/customer/create-customer']" uk-toggle>
              <span class="uk-icon uk-margin-small-right" uk-icon="icon: plus"></span>
              Adicionar
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

 